{% extends 'base.html' %} 
{% block header %}
{% endblock %} 
{% block content %}
  {% load static %}
  {% load crispy_forms_tags %}

  <div class="container py-5">
    <h2>Добавить город</h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button id="add-city-button" class="btn btn-primary" type="submit">Добавить город</button>
    </form>
  </div>

  <script>
    $(document).ready(function() {
      $("#add-city-button").click(function() {
        $(this).prop("disabled", true);
        $(this).closest("form").submit();
      });
    });
  </script>
  
{% endblock %} 

