{% extends 'base.html' %}
{% block content %}
<div class="container py-5">     
  <h1>Adress template</h1>
    {% for place in placeconstructor_list %}  
      <article>    
        <ul>
          <li>
            Название объекта': {{ place.name }}
          </li>
          <li>
            Город: {{ place.city_name }}
          </li>
          <li>
            Адрес: {{ place.address }}
          </li>
          <li>
            <a href="{% url 'place:place_detail' place.pk %}">
              Детальная информация по объекту
            </a> 
          </li>
        </ul>
      </article>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
    <a class="btn btn-primary" href="{% url 'place:place_create' %}">
      Добавить новый объект
    </a> 
  </div>
{% endblock %} 