{% extends 'base.html' %}
{% block content %}
  <div class="container py-3">     
    <h1>Список объектов</h1>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <select class="form-select" id="id_city">
              <option value=0 selected>Выбирите город</option>
              {% for city in placecity_list %}
                <option value="{{ city.id }}">{{ city.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div id="list_places" class="row mt-5" places-url="{% url 'place:ajax_load_places' %}">
        </div>
        <div class="row ms-1">
          <div class="d-flex justify-content-end">
            <a type="button" id="new-city" class="btn btn-primary" href="{% url 'place:place_create' %}">Добавить новый объект</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    $("#id_city").change(function () {
      var url = $("#list_places").attr("places-url");
      var cityId = $(this).val();
      if (cityId !== "0"){
        document.getElementById("new-city").style.display = "none";
      }
      else {document.getElementById("new-city").style.display = "initial"}
      $.ajax({
        url: url,
        data: {
          'city_id': cityId
        },
        success: function (data) {
          $("#list_places").html(data);
        }
      });
    });

  </script>
{% endblock %} 