{% extends 'base.html' %}
{% block content %}
{% load static %} 

  <div class="container py-3">     
    <h1>Список объектов</h1>
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <select class="form-select ms-3 bg-dark" id="id_city_name" data-allow-clear="1">
              <option></option>
              {% for city in placecity_list %}
                <option {% if place_city == city.name %}selected{% endif %} value="{{ city.id }}">{{ city.name }}</option>
              {% endfor %}
            </select>
          </div>
          {% if user.is_main_director_or_admin %}
            <div class="col-md-auto">
              <a href="{% url 'place:city_create' %}" id="add_city" onclick="return showAddPopup(this);">
                <img src="{% static 'img/blue-plus-icon-2.jpg' %}" style="width: 38px;" title="Добавить город">
              </a>
            </div>
          {% endif %}
        </div>
        {% if deleted_place %}
          <div id="deleted" class="row ps-3 pt-3">
            <div class="col">
              {% if exept %}
                <h5 style="color: red;">Площадку {{deleted_place}} нельзя удалить она есть в существующих заявках</h5>
              {% else %}
                <h5 style="color: red;">Площадка {{deleted_place}} удалена</h5>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div id="list_places" class="row mt-3" places-url="{% url 'place:ajax_load_places' %}">
        </div>
        {% if user.is_main_director_or_admin %}
          <div class="row ms-1">
            <div class="d-flex justify-content-end pt-2">
              <a type="button" id="newCity" class="btn btn-primary" href="{% url 'place:place_create' %}">Добавить новый объект</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <script>

    function updateLink() {

    }
    
    $(document).ready(function() {

        $('#id_city_name').select2({
          theme: 'bootstrap-5',
          placeholder: 'Выберите город'
        });
    });

    $(window).on('load', function() {
      var cityId = $("#id_city_name").val();
      var url = $("#list_places").attr("places-url");
      changeCreatePlaceLink(cityId)
      var $overlay = $("#loading-overlay");
      if (cityId !== "0"){
        $.ajax({
          url: url,
          data: {
            'city_id': cityId
          },
          beforeSend: function () {
            $overlay.show();
          },
          success: function (data) {
            $("#list_places").html(data);
          },
          complete: function () {
            $overlay.hide();
          }
        });
      }
     });

    $("#id_city_name").change(function () {
      if(document.getElementById("deleted")){
        document.getElementById("deleted").style.display = "none"
      }
      var url = $("#list_places").attr("places-url");
      var cityId = $(this).val();
      changeCreatePlaceLink(cityId)
      var $overlay = $("#loading-overlay");
      $.ajax({
        url: url,
        data: {
          'city_id': cityId
        },
        beforeSend: function () {
          $overlay.show();
        },
        success: function (data) {
          $("#list_places").html(data);
        },
        complete: function () {
          $overlay.hide();
        }
      });
    });

    $("#newCity").on("click", function(e) {
      e.preventDefault();
      var url = $(this).attr("href");
      var $overlay = $("#loading-overlay");
      $overlay.show();
      window.location.href = url;
    });

  </script>
{% endblock %} 