{% extends 'base.html' %}
{% block content %}
  <div class="container py-3">     
    <h1>Список объектов</h1>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <select class="form-select" id="id_city">
              <option value=0>Выбирите город</option>
              {% for city in placecity_list %}
                <option value="{{ city.id }}" {% if place_city == city.name %}selected{% endif %}>{{ city.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% if deleted_place %}
          <div id="deleted" class="row ps-3 pt-3">
            <div class="col">
              {% if exept %}
                <h5 style="color: red;">Площадку {{deleted_place}} нельзя удалить она есть в существующих заявках</h5>
              {% else %}
                <h5 style="color: red;">Площадка {{deleted_place}} удалена</h5>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div id="list_places" class="row mt-3" places-url="{% url 'place:ajax_load_places' %}">
        </div>
        {% if user.is_main_director_or_admin %}
          <div class="row ms-1">
            <div class="d-flex justify-content-end">
              <a type="button" id="newCity" class="btn btn-primary" href="{% url 'place:place_create' %}">Добавить новый объект</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <script>

    $("#id_city").change(function () {
      if(document.getElementById("deleted")){
        document.getElementById("deleted").style.display = "none"
      }
      var url = $("#list_places").attr("places-url");
      var cityId = $(this).val();
      const cityStyle = cityId !== "0" ? "none" : "block";
      if(document.getElementById("newCity")){
        document.getElementById("newCity").style.display = cityStyle;
      }
      $.ajax({
        url: url,
        data: {
          'city_id': cityId
        },
        success: function (data) {
          $("#list_places").html(data);
        }
      });
    });

    $(window).on('load', function() {
      var cityId = $("#id_city").val();
      var url = $("#list_places").attr("places-url");
      if (cityId !== "0"){
        document.getElementById("newCity").style.display = "none";
        $.ajax({
          url: url,
          data: {
            'city_id': cityId
          },
          success: function (data) {
            $("#list_places").html(data);
          }
        });
      }
     });



  </script>
{% endblock %} 