{% extends 'base.html' %}
{% block title %}<title>Пост {{ title }}</title>{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <li>
        Name of the facility: {{ placeconstructor.name }}
      </li>
      <li>
        City: {{ placeconstructor.city }}
      </li>
      <li>
        Address: {{ placeconstructor.address }}
      </li>
      <li>
        Name of person in charge at the facility: {{ placeconstructor.contact_name }}
      </li>
      <li>
        Contact phone: {{  placeconstructor.phone }}
      </li>
      <li>
        Email address: {{  placeconstructor.email_address }}
      </li>
      <li>
        Web: {{  placeconstructor.web }}
      </li>
    </div>
  </div>
{% endblock %} 