<div class="col-auto d-flex justify-content-end" >
    <button id="modal-delay" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chage-statusModal" hx-get="{% url 'pts_requests:validate_on_aprovall_status' ptsrequest.pk %}" hx-target="#window_body">
      Отправить заявку на утверждение звукорежиссером
    </button>
  </div>

  <div class="modal fade" id="chage-statusModal" tabindex="-1" aria-labelledby="chage-statusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="chage-statusModalLabel">Рассмотрение заявки</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div id="window_body" hx-swap="innerHTML">

        </div>

      </div>
    </div>
  </div>
