{% load static %}
<style>
  html,
  body,
  .intro {
    height: 100%;
  }

  table td,
  table th {
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
  }

  thead th {
    color: #fff;
  }

  .card {
    border-radius: .5rem;
  }

  .table-scroll {
    border-radius: .5rem;
  }

  .table-scroll table thead th {
    font-size: 1.25rem;
  }
  thead {
    top: 0;
    position: sticky;
  }
  
  #zoomImage {
      padding: 20px;
      transition: transform 0.3s;
      margin: 0 auto;
  }
  #dragOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: grab;
  }
  /* .zoom-buttons {
      position: -webkit-sticky;
      position: sticky;
      top: 10px;
      right: 10px;
  } */

  .zoom-buttons button {
      padding: 4px 8px;
  }
</style>
<div id="config-cameras-edit">
  <div class="row">
    <section class="intro">
        <div class="mask d-flex align-items-center h-100">
          <div class="container">
            <div class="card shadow-sm mb-3">
              <div class="card-body p-0 ms-2 me-2 mb-2">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <p class="fs-4 ms-2 me-2" style="border-bottom: 1px solid black;">Блок камер </p>
                    {% if message %}<p class="fs-5 text-danger ms-2 me-2">{{ message }}</p>{% endif %}
                    {% if ptsrequest.pts_cfg.cameraptsconstructor_set.all|length > 0 %}
                    <table class="table table-striped mb-0 ps-2 pe-2 ">
                      <thead style="background-color: lightskyblue;">
                        <tr class="d-flex">
                          <th class="col-3 text-center">Тип Камеры</th>
                          <th class="col-3 text-center">Количество</th>
                          <th class="col-3 text-center">Бренд</th>
                          <th class="col-3 text-center">Модель</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for camera in ptsrequest.pts_cfg.cameraptsconstructor_set.all %}
                          <tr class="d-flex">
                            <td class="col-3 pt-2 ps-3">{{ camera.cameras }}</td>
                            <td class="col-3 text-center">{{ camera.quantity }}</td>
                            {% if camera.brend %}
                              <td class="col-3 ps-4">{{ camera.brend }}</td>
                            {% else %}
                              <td class="col-3 text-center">&mdash;</td>
                            {% endif %}
                            {% if camera.model %}
                              <td class="col-3 ps-4">{{ camera.model }}</td>
                            {% else %}
                              <td class="col-3 text-center">&mdash;</td>
                            {% endif %}
                          </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                    {% else %}
                      <p class="fs-5 ms-2 me-2">Информация отсутсвует в конфигурации ПТС</p>
                    {% endif %}
                  </div>
                </div>
                  <div class="row pt-3">
                    <div class="col d-flex justify-content-start">
                      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#camPlansModal">
                        Камерный план
                      </button>
                      <div class="modal fade" id="camPlansModal" tabindex="-1" aria-labelledby="camPlansModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="camPlansModalLabel">Камерный план</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                              <div id="imageContainer" class="modal-body" style="height: 700px;">
                                {% if ptsrequest.pts_cfg.image|lower|slice:"-3:" == 'pdf' %}
                                  <a href="{{ ptsrequest.pts_cfg.image.url }}" target="_blank">View PDF</a>
                                {% else %}
                                  <div id="dragOverlay" style="width: 760px; height: 700px;"></div>
                                  <img id="zoomImage" src="{{ ptsrequest.pts_cfg.image.url }}" alt="Image" style="width: 760px;">
                                {% endif %}
                              </div>
                            <div class="modal-footer">

                              <div class="row justify-content-center align-items-center" style="width: 100%;">
                                <div class="col-4 text-stat"> 
                                  <a href="{{ ptsrequest.pts_cfg.image.url }}" download>
                                    <button type="button" class="btn btn-secondary">Скачать</button>
                                  </a>
                                </div>
                                <div class="col-2">
                                  <button id="zoomInButton" class="btn btn-link">
                                    <img src="{% static 'img/plus-2-256.png' %}" style="width: 38px;" alt="Увеличить">
                                  </button>
                                </div>
                                <div class="col-2">
                                  <button id="zoomOutButton" class="btn btn-link">
                                    <img src="{% static 'img/minus-256.png' %}" style="width: 38px;" alt="Увеличить">
                                  </button>
                                </div>
                                <div class="col-4 text-end"> 
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% if user.is_admin_or_moderator and ptsrequest.is_approval or user.is_admin %}
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-secondary btn-sm"
                          hx-get="{% url 'pts_requests:config_cameras_edit' ptsrequest.pk %}"
                          hx-target="#config-cameras-edit"
                        >
                          Изменить
                        </button>
                      </div>
                    {% endif %}
                  </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>

<script>
  let isDragging = false;
  let startMouseX, startMouseY, startScrollX, startScrollY;

  const dragOverlay = document.getElementById("dragOverlay");
  const image = document.getElementById("zoomImage");
  const imageContainer = document.getElementById("imageContainer");
  

  dragOverlay.addEventListener("mousedown", (event) => {
    isDragging = true;
    startMouseX = event.clientX;
    startMouseY = event.clientY;
    startScrollX = imageContainer.scrollLeft;
    startScrollY = imageContainer.scrollTop;
    dragOverlay.style.cursor = "grabbing"; 
  });

  dragOverlay.addEventListener("mousemove", (event) => {
    if (!isDragging) return;

    const offsetX = event.clientX - startMouseX;
    const offsetY = event.clientY - startMouseY;

    imageContainer.scrollLeft = startScrollX - offsetX;
    imageContainer.scrollTop = startScrollY - offsetY;
  });

  dragOverlay.addEventListener("mouseup", () => {
    isDragging = false;
    dragOverlay.style.cursor = "grab"; 
  });

  document.addEventListener("DOMContentLoaded", function () {
    const zoomInButton = document.getElementById("zoomInButton");
    const zoomOutButton = document.getElementById("zoomOutButton");

    let currentZoom = 760;
    let currentHeight = 700;
    const realWidth = image.naturalWidth;
    const realHeight = image.naturalHeigh;


    zoomInButton.addEventListener("click", function () {
        currentZoom += 20;
        currentHeight += 20
        if (currentZoom > realWidth) {
            currentZoom = realWidth;
        }
        if (currentHeight > realHeight) {
          currentHeight = realHeight;
        }
        image.style.width = `${currentZoom}px`;
        dragOverlay.style.width = `${currentZoom}px`;
        dragOverlay.style.height = `${currentZoom}px`;
    });

    zoomOutButton.addEventListener("click", function () {
        currentZoom -= 20;
        if (currentZoom < 760) {
            currentZoom = 760;
        }
        image.style.width = `${currentZoom}px`;
        dragOverlay.style.width = `${currentZoom}px`;
        dragOverlay.style.height = `${currentZoom}px`;
    });
  });
</script>



<script>

</script>