<div id="config-choice-pts">
  <div class="row ms-3 pb-3 align-items-center">
    <div class="col-auto">
      <b>Выбраная ПТС: </b>
      {% if ptsrequest.pts_name %}
        {{ ptsrequest.pts_name }}
      {% else %}
        &mdash;
      {% endif %}
    </div>
    {% if user.is_admin_or_moderator and ptsrequest.is_approval or user.is_admin%}
      <div class="col justify-content-start">
        <button class="btn btn-secondary btn-sm"
          hx-get="{% url 'pts_requests:config_choice_pts' ptsrequest.pk %}"
          hx-target="#config-choice-pts"
        >
          Изменить
        </button>
      </div>
    {% endif %}
  </div>
</div>

