  {% load crispy_forms_tags %}
  
  <div class="row">
    <section class="intro">
        <div class="mask d-flex align-items-center h-100">
          <div class="container">
            <div class="card shadow-sm mb-3">
              <div class="card-body p-0 ms-2 me-2 mb-2">
                <form id="microphone_form" 
                  microphone-url="{% url 'config:ajax_load_micro_model' ptsrequest.pk %}"
                  microphone-brend-url="{% url 'config:ajax_load_micro_brend' ptsrequest.pk %}"
                  hx-post="{% url 'pts_requests:config_microphones_edit' ptsrequest.pk %}" 
                  hx-target="#config-microphones-edit"
                >
                  {% csrf_token %}
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <p class="fs-4 ms-2 me-2" style="border-bottom: 1px solid black;">Блок звукового обеспечения</p>
                      <p class="fs-5">Количество микрофонов {{ ptsrequest.pts_cfg.microphone_quantity }}</p>

                      <table class="table table-striped mb-0 ps-2 pe-2 ">
                        <thead style="background-color: lightskyblue;">
                          <tr class="d-flex">
                            <th class="col-3 text-center">Тип</th>
                            <th class="col-3 text-center">Бренд</th>
                            <th class="col-3 text-center">Модель</th>
                            <th class="col-3 text-center">Количество</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{ microphones_forms.management_form }}
                          {% for microphone in microphones_forms %}

                            {% for hidden in microphone.hidden_fields %}
                              {{ hidden }}
                            {% endfor %}

                            <tr class="d-flex">
                              <td class="col-3 pt-2 ps-3">{{ microphone.type }}</td>
                              <td class="col-3 text-center">{{ microphone.brend }}</td>
                              <td class="col-3 text-center">{{ microphone.model }}</td>
                              <td class="col-3 text-center">{{ microphone.quantity }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col d-flex justify-content-end">
                      <button class="btn btn-secondary btn-sm me-3" id="back-button"
                        hx-get="{% url 'pts_requests:config_microphones_edit' ptsrequest.pk %}?step=back"
                        hx-target="#config-microphones-edit"
                      >
                        Назад
                      </button>
                      <button id="change-button" class="btn btn-secondary btn-sm" type="submit">
                        Изменить
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>

  <script>

    // id_microphoneptsconstructor_set-0-quantity, id_microphoneptsconstructor_set-1-quantity, id_microphoneptsconstructor_set-4-quantity

    function sumMicrophonesQuantity(countForm) {
      var micro_count = 0
      for (let i = 0; i < countForm; i++) {
        quantityField = `id_microphoneptsconstructor_set-${i}-quantity`
        const inputValue = document.getElementById(quantityField).value.trim();
        if (inputValue !== "") {
          const parsedValue = parseInt(inputValue, 10);
          if (!isNaN(parsedValue)) {
            micro_count += parsedValue;
          }
        }
      }
      return micro_count
    }

    $(document).ready(function(){
      var countForm = $("#id_microphoneptsconstructor_set-TOTAL_FORMS").val()
      for (let i = 0; i < countForm; i++) {
        $(`#id_microphoneptsconstructor_set-${i}-brend`).change(function () {
          const url = $("#microphone_form").attr("microphone-url");  
          const typeId = $(`#id_microphoneptsconstructor_set-${i}-type`).val()
          const brendId = $(`#id_microphoneptsconstructor_set-${i}-brend`).val(); 
          $.ajax({                       
            url: url,                   
            data: {
              'brend': brendId,
              'micro_type': typeId        
            },
            success: function (data) {  
              $(`#id_microphoneptsconstructor_set-${i}-model`).html(data);  
            }
          });
        });

        $(`#id_microphoneptsconstructor_set-${i}-type`).change(function () {
          const url = $("#microphone_form").attr("microphone-brend-url");  
          const typeId = $(`#id_microphoneptsconstructor_set-${i}-type`).val()
          $.ajax({                       
            url: url,                   
            data: {
              'micro_type': typeId        
            },
            success: function (data) {  
              $(`#id_microphoneptsconstructor_set-${i}-brend`).html(data);  
              $(`#id_microphoneptsconstructor_set-${i}-model`).html('<option value="">---------</option>');
            }
          });
        });
      }

      var micro_count = sumMicrophonesQuantity(countForm)
      var pts_microphone_quantity = parseInt('{{ ptsrequest.pts_cfg.microphone_quantity }}', 10);
      if (micro_count < pts_microphone_quantity) 
        document.getElementById('change-button').disabled = true;

      for (let i = 0; i < countForm; i++) {
        $(`#id_microphoneptsconstructor_set-${i}-quantity`).change(function () {
          micro_count = sumMicrophonesQuantity(countForm)
          if (micro_count < pts_microphone_quantity) 
            document.getElementById('change-button').disabled = true;
          else
            document.getElementById('change-button').disabled = false;
        });
      }

      // $('#change-button').on('click',function(event){
      //   event.preventDefault();
        
      //   $(this).prop("disabled", true);
      //   $(this).html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Загрузка...');
      //   $(this).closest('form').submit();
      // });

      // $('#back-button').on('click',function(event){
      //   $(this).html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Назад');
      // });


    });
  </script>