  {% load crispy_forms_tags %}

  <div class="row">
    <section class="intro">
        <div class="mask d-flex align-items-center h-100">
          <div class="container">
            <div class="card shadow-sm mb-3">
              <div class="card-body p-0 ms-2 me-2 mb-2">
                <form id="optic_form" 
                  opt-url="{% url 'config:ajax_load_optic_brend' ptsrequest.pk %}"
                  brend-url="{% url 'config:ajax_load_optic_model' %}"
                  hx-post="{% url 'pts_requests:config_optics_edit' ptsrequest.pk %}" 
                  hx-target="#config-optics-edit"
                >
                  {% csrf_token %}
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <p class="fs-4 ms-2 me-2" style="border-bottom: 1px solid black;">Блок оптики</p>
                      <table class="table table-striped mb-0 ps-2 pe-2 ">
                        <thead style="background-color: lightskyblue;">
                          <tr class="d-flex">
                            <th class="col-2 text-center">Кратность Оптики</th>
                            <th class="col-2 text-center">Количество</th>
                            <th class="col-3 text-center">Реальняа кратность Оптики</th>
                            <th class="col-2 text-center">Бренд</th>
                            <th class="col-3 text-center">Модель</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{ optic_forms.management_form }}
                          {% for optic in optic_forms %}

                            {% for hidden in optic.hidden_fields %}
                              {{ hidden }}
                            {% endfor %}

                            <tr class="d-flex">
                              <td class="col-2 text-center">{{ optic.user_magnification }}</td>
                              <td class="col-2 text-center">{{ optic.quantity }}</td>
                              <td class="col-3 text-center">{{ optic.optics }}</td>
                              <td class="col-2 text-center">{{ optic.brend }}</td>
                              <td class="col-3 text-center">{{ optic.model }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col d-flex justify-content-end">
                      <button class="btn btn-secondary btn-sm me-3" 
                        hx-get="{% url 'pts_requests:config_optics_edit' ptsrequest.pk %}?step=back"
                        hx-target="#config-optics-edit"
                      >
                        Назад
                      </button>
                      <button class="btn btn-secondary btn-sm" type="submit">
                        Изменить
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>

  <script>

    function fetchModelData(url, opticId, brendId, targetElementId) {
      $.ajax({
        url: url,
        data: {
          'optic': opticId,
          'brend': brendId
        },
        success: function (data) {
          $(`#${targetElementId}`).html(data);
        }
      });
    }

    var countForm = $("#id_opticptsconstructor_set-TOTAL_FORMS").val()
    for (let i = 0; i < countForm; i++) {
      
      $(`#id_opticptsconstructor_set-${i}-optics`).change(function () {
        const url = $("#optic_form").attr("opt-url");  
        const opticId = $(`#id_opticptsconstructor_set-${i}-optics`).val()

        $.ajax({                       
          url: url,                   
          data: {
            'optic': opticId        
          },
          success: function (data) {  
            $(`#id_opticptsconstructor_set-${i}-brend`).html(data);
            const brendUrl = $("#optic_form").attr("brend-url");  
            const brendId = $(`#id_opticptsconstructor_set-${i}-brend`).val()
            fetchModelData(brendUrl, opticId, brendId, `id_opticptsconstructor_set-${i}-model`);

          }
        });

      });

      $(`#id_opticptsconstructor_set-${i}-brend`).change(function () {
        const url = $("#optic_form").attr("brend-url");  
        const opticId = $(`#id_opticptsconstructor_set-${i}-optics`).val()
        const brendId = $(`#id_opticptsconstructor_set-${i}-brend`).val()

        fetchModelData(url, opticId, brendId, `id_opticptsconstructor_set-${i}-model`);

      });

    }
  </script>