  <div class="card mt-3">
      <div class="card-header align-items-center p-0">
          <button class="accordion-button collapsed pt-2 pb-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-config" aria-expanded="false" aria-controls="panelsStayOpen-config">
            <h5 style="margin-bottom: 0px; color: black">Конфигурация ПТС</h5>
          </button>
      </div>
      <div id="panelsStayOpen-config" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-config">

        <div class="card-body">
          <div class="row">
            <h5 class="card-title">{{ ptsrequest.place.name }}</h4>
            <p class="card-text">
              <b>Адрес:</b> г. {{ ptsrequest.place.city_name  }}, {{ ptsrequest.place.address  }}</br>
              <b>ФИО ответственного за объект:</b> {{ ptsrequest.place.contact_name }}</br>
              <b>Телефон ответственного:</b> {{ ptsrequest.place.phone  }}</br>
              {% if ptsrequest.place.web %}<b>Вебсайт:</b> {{ ptsrequest.place.web }}{% endif %}</br>
              <a href="{% url 'place:place_detail' ptsrequest.place.pk %}" target="_blank" rel="noopener noreferrer">
                Детальная информация по объекту
              </a> 
            </p>
          </div>
        </div>

      </div>
  </div>
