{% load crispy_forms_tags %}
<div class="form-group row my-3 p-3">
  <p class="fs-4 " style="border-bottom: 1px solid black;">{{descr}}</p>
  {{ forms.management_form }}
  <div id="{{ style }}-form-list">
    {% for form in forms %}
      <div class="{{ style }}-form">{{ form|crispy }}</div>
    {% endfor %}
  </div>
  <div id="{{ hiddenid }}" class="hidden">{{ forms.empty_form|crispy }}</div>
  <button id="add-more-{{ style }}" type="button" class="button_add">Добавить</button>
  <button id="remove-{{ style }}" type="button" class="hidden">Удалить</button>
</div>
