  <div class="card shadow-sm mt-3">
      <div class="card-header align-items-center p-0">
          <button class="accordion-button collapsed pt-2 pb-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-lines" aria-expanded="false" aria-controls="panelsStayOpen-lines">
            <h5 style="margin-bottom: 0px; color: black">Заказы видеоканалов, каналов связи и интернета</h5>
          </button>
      </div>
      <div id="panelsStayOpen-lines" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-lines">

        <div class="card-body">

          <div class="row">
            {% include 'pts_requests/request_lines_video.html' %} 
          </div>
          <div class="row">
            {% include 'pts_requests/request_lines_internet.html' %} 
          </div>
          <div class="row">
            {% include 'pts_requests/request_lines_communication.html' %} 
          </div>

        </div>

      </div>
  </div>
