  {% load crispy_forms_tags %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Тракт</h5>
      <form hx-put="{% url 'pts_requests:travel_time_edit' ptsrequest.pk %}" hx-target="#time-travel">
        {% csrf_token %}
    
        {{ form|crispy }}
    
        <button class="btn btn-secondary btn-sm" type="submit">
          Сохранить
        </button>
        <button class="btn btn-secondary btn-sm"
          hx-get="{% url 'pts_requests:travel_time_edit' ptsrequest.pk %}?step=back"
          hx-target="#time-travel"
        >
          Назад
        </button>
      </form>
    </div>
  </div>

  <script>
    $(document).ready(function() 
    {
       $('#id_start_date').datetimepicker
       ({
          format:'Y-m-d H:i',
          step: 5
       });
       $('#id_end_date').datetimepicker
       ({
            format:'Y-m-d H:i',
            step: 5
       });
    });
  </script>
