<div id="time-travel">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Время работы ПТС</h5>
        <p class="card-text">
          <b>Начало:</b> 
          {% if ptsrequest.start_date %}
            {{ ptsrequest.start_date|date:'H:i' }}
          {% else %}
            &mdash;
          {% endif %}
          </br>
          <b>Конец:</b> 
          {% if ptsrequest.end_date %}
            {{ ptsrequest.end_date|date:'H:i' }}
          {% else %}
            &mdash;
          {% endif %}
        </p>
        {% if user.is_admin_or_moderator and ptsrequest.is_approval %}
          <button class="btn btn-secondary btn-sm"
            hx-get="{% url 'pts_requests:travel_time_edit' ptsrequest.pk %}"
            hx-target="#time-travel"
          >
            Изменить
          </button>
        {% endif %}
    </div>
  </div>
</div>

