<div id="time-travel">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Время работы ПТС</h5>
        <p class="card-text">
          <b>Время выезда ПТС с базы:</b> 
          {% if ptsrequest.start_date %}
            {{ ptsrequest.start_date|date:'d E Y H:i' }}
          {% else %}
            &mdash;
          {% endif %}
          </br>
          <b>Время прибытия ПТС на объект:</b> 
          {% if ptsrequest.start_date_arrival %}
            {{ ptsrequest.start_date|date:'d E Y H:i' }}
          {% else %}
            &mdash;
          {% endif %}
          </br>
          <b>Время отьезда ПТС с объекта:</b> 
          {% if ptsrequest.end_date %}
            {{ ptsrequest.end_date|date:'d E Y H:i' }}
          {% else %}
            &mdash;
          {% endif %}
          </br>
          <b>Время прибытия ПТС на базу:</b> 
          {% if ptsrequest.end_date_arrival %}
            {{ ptsrequest.end_date|date:'d E Y H:i' }}
          {% else %}
            &mdash;
          {% endif %}
        </p>
        {% if user.is_admin_or_moderator and ptsrequest.is_approval or user.is_admin %}
          <button class="btn btn-secondary btn-sm"
            hx-get="{% url 'pts_requests:travel_time_edit' ptsrequest.pk %}"
            hx-target="#time-travel"
          >
            Изменить
          </button>
        {% endif %}
    </div>
  </div>
</div>

