  {% load crispy_forms_tags %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Тракт</h5>
      <form method="post" hx-put="{% url 'pts_requests:trakt_time_edit' ptsrequest.pk %}" hx-target="#time-trakt" autocomplete="off">
        {% csrf_token %}
    
        {{ form|crispy }}
    
        <button class="btn btn-secondary btn-sm" type="submit">
          Сохранить
        </button>
        <button class="btn btn-secondary btn-sm"
          hx-get="{% url 'pts_requests:trakt_time_edit' ptsrequest.pk %}?step=back"
          hx-target="#time-trakt"
        >
          Назад
        </button>
      </form>
    </div>
  </div>
  
<script>
  $(document).ready(function() 
  {
     $('#id_trakt_start_date').datetimepicker
     ({
        format:'Y-m-d H:i',
        step: 5
     });
     $('#id_trakt_end_date').datetimepicker
     ({
          format:'Y-m-d H:i',
          step: 5
     });
  });
</script>


