<option value="">Выберите конфигурацию ПТС</option>
{% if cfgs|length > 0 %}
  {% for cfg in cfgs %}
    {% if cfg.base_conf %}
      <option id="base-cfg" create-on-base="{% url 'pts_requests:request_create_cfg' cfg.pk %}" value="{{ cfg.pk }}">{{ cfg.get_base_name }}</option>
      <script>
        var createButton = document.getElementById("create-cfg");
        var refreshButton = document.getElementById("cfg-refresh");
        var eventSelect = document.getElementById("id_event_type");
        if (eventSelect.value !== '') {
          createButton.disabled = false;
          refreshButton.disabled = false;
        }
        if (createButton.hasAttribute("data-bs-toggle"))
          createButton.removeAttribute("data-bs-toggle");
        if (createButton.hasAttribute("data-bs-target"))
          createButton.removeAttribute("data-bs-target");
        if (!createButton.hasAttribute("onclick"))
          createButton.setAttribute("onclick", "return showCfgCreatePopup();");
      </script>
    {% else %}
      <option value="{{ cfg.pk }}">{{ cfg.get_base_name }}</option>
    {% endif %}
  {% endfor %}
{% else %}
  <script>
    var createButton = document.getElementById("create-cfg");
    var refreshButton = document.getElementById("cfg-refresh");
    var eventSelect = document.getElementById("id_event_type");
    if (eventSelect.value !== '') {
      createButton.disabled = false;
      refreshButton.disabled = false;
    }
    if (createButton.hasAttribute("onclick"))
      createButton.removeAttribute("onclick");
    createButton.setAttribute("data-bs-toggle", "modal");
    createButton.setAttribute("data-bs-target", "{{ modal_id }}");
  </script>
{% endif %}