{% extends 'base.html' %}
{% block title %}<title></title>{% endblock %}
{% block content %}   
  {% load crispy_forms_tags %}
  <style>
    .button_add {
      margin: 10px;
      width: 120px;
    }
    .commline-form {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
    .techcommline-form {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
    .internetline-form {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
    .hidden {
      display: none
    }
  </style>
  <div class="container p-3">
    <div class="row justify-content-center">
      <h1>Создать заявку</h1>
      <div class="card">
        <div class="card-body">        
          <form method="post" enctype="multipart/form-data" id="requestForm" cfg-url="{% url 'pts_requests:ajax_load_cfg' %}" data-places-url="{% url 'pts_requests:ajax_load_places' %}" autocomplete="off">
            {% csrf_token %}
            <div class="row">
              <div class="col-3">{{ form.city_name|as_crispy_field }}</div>
              <div class="col-5">{{ form.place|as_crispy_field }}</div>
              <div id="eventField" event-type-url="{% url 'pts_requests:ajax_load_event_types' %}" class="col-4">{{ form.event_type|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-8">{{ form.name|as_crispy_field }}</div>
              <div class="col-4">{{ form.type|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col-3">{{ form.broadcast_start_date|as_crispy_field }}</div>
              <div class="col-3">{{ form.broadcast_end_date|as_crispy_field }}</div>
              <div class="col-6">{{ form.pts_cfg|as_crispy_field }}</div>
            </div>
            <hr style="border: 1px;">
            <div class="form-group row my-3 p-3">
              <p class="fs-4 " >Блок заказа видеоканала:</p>
              {{ commline.management_form }}
              <div id="commline-form-list">
                {% for form in commline %}
                  <div class="commline-form">{{ form|crispy }}</div>
                {% endfor %}
              </div>
              <div id="comm-id" class="hidden">{{ commline.empty_form|crispy }}</div>
              <button id="add-more-commline" type="button" class="button_add">Добавить</button>
              <button id="remove-commline" type="button" class="hidden">Удалить</button>
            </div>
            <hr style="border: 1px;">
            <div class="form-group row my-3 p-3">
              <p class="fs-4 " >Блок заказа интернет канала:</p>
              {{ internetline.management_form }}
              <div id="internetline-form-list">
                {% for form in internetline %}
                  <div class="internetline-form">{{ form|crispy }}</div>
                {% endfor %}
              </div>
              <div id="internet-id" class="hidden">{{ internetline.empty_form|crispy }}</div>
              <button id="add-more-internetline" type="button" class="button_add">Добавить</button>
              <button id="remove-internetline" type="button" class="hidden">Удалить</button>
            </div>
            <hr style="border: 1px;">
            <div class="form-group row my-3 p-3">
              <p class="fs-4 " >Блок заказа служебной связи:</p>
              {{ techcommline.management_form }}
              <div id="techcommline-form-list">
                {% for form in techcommline %}
                  <div class="techcommline-form">{{ form|crispy }}</div>
                {% endfor %}
              </div>
              <div id="tech-comm-id" class="hidden">{{ techcommline.empty_form|crispy }}</div>
              <button id="add-more-techcommline" type="button" class="button_add">Добавить</button>
              <button id="remove-techcommline" type="button" class="hidden">Удалить</button>
            </div>
            <hr style="border: 1px;">
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Создать заявку</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>

    $(document).ready(function() 
    {
       $('#id_broadcast_start_date').datetimepicker
       ({
          format:'Y-m-d H:i',
          step: 5
       });
       $('#id_broadcast_end_date').datetimepicker
       ({
            format:'Y-m-d H:i',
            step: 5
       });
    });
    
    $("#id_city_name").change(function () {
      var url = $("#requestForm").attr("data-places-url");
      var cityId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'city_name': cityId
        },
        success: function (data) {
          $("#id_place").html(data);
          $("#id_event_type").val("");
          $("#id_pts_cfg").val("");
        }
      });
    });

    $("#id_place").change(function () {
      var url = $("#eventField").attr("event-type-url");
      var placeId = $(this).val();
  
      $.ajax({
        url: url,
        data: {
          'place_id': placeId
        },
        success: function (data) {
          $("#id_event_type").html(data);
          $("#id_pts_cfg").val("");
        }
      });
    });

    $("#id_event_type").change(function () {
      var url = $("#requestForm").attr("cfg-url");
      var eventId = $(this).val();
      var placeId = $("#id_place").val();

      $.ajax({
        url: url,
        data: {
          'event_id': eventId,
          'place_id': placeId
        },
        success: function (data) {
          $("#id_pts_cfg").html(data);
        }
      });
    });

    const addMoreCommLineBtn = document.getElementById('add-more-commline')
    const removeCommLineBtn = document.getElementById('remove-commline')
    const InitialCommlineFormCount = document.getElementsByClassName('commline-form').length

    addMoreCommLineBtn.addEventListener('click', e => add_new_form(
      'commline-form-list',
      'comm-id', 
      'commline-form',
      'id_commlineconstructor_set-TOTAL_FORMS',
      'id_commlineconstructor_set',
      '',
      removeCommLineBtn,
      e))
    removeCommLineBtn.addEventListener('click', e => remove_form(
      'commline-form-list',
      'commline-form',
      'id_commlineconstructor_set-TOTAL_FORMS',
      InitialCommlineFormCount,
      removeCommLineBtn,
      e
    ))

    const addMoreTechLineBtn = document.getElementById('add-more-techcommline')
    const removeTechLineBtn = document.getElementById('remove-techcommline')
    const InitialTechFormCount = document.getElementsByClassName('techcommline-form').length

    addMoreTechLineBtn.addEventListener('click', e => add_new_form(
      'techcommline-form-list',
      'tech-comm-id', 
      'techcommline-form',
      'id_techcommlineconstructor_set-TOTAL_FORMS',
      'id_techcommlineconstructor_set',
      '',
      removeTechLineBtn,
      e))
    removeTechLineBtn.addEventListener('click',  e => remove_form(
      'techcommline-form-list',
      'techcommline-form',
      'id_techcommlineconstructor_set-TOTAL_FORMS',
      InitialTechFormCount,
      removeTechLineBtn,
      e
    ))

    const addMoreInternetLineBtn = document.getElementById('add-more-internetline')
    const removeInternetLineBtn = document.getElementById('remove-internetline')
    const InitialInternetFormCount = document.getElementsByClassName('internetline-form').length

    addMoreInternetLineBtn.addEventListener('click', e => add_new_form(
      'internetline-form-list',
      'internet-id', 
      'internetline-form',
      'id_internetlineconstructor_set-TOTAL_FORMS',
      'id_internetlineconstructor_set',
      '',
      removeInternetLineBtn,
      e))
    removeInternetLineBtn.addEventListener('click',  e => remove_form(
      'internetline-form-list',
      'internetline-form',
      'id_internetlineconstructor_set-TOTAL_FORMS',
      InitialInternetFormCount,
      removeInternetLineBtn,
      e
    ))
  </script>

{% endblock %} 
