{% extends 'base.html' %} 
{% block content %}
<div class="container py-5">
  <h1>Заявки на работу ПТС</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Дата работы</th>
        <th scope="col">Время работы</th>
        <th scope="col">Название передачи</th>
        <th scope="col">Статус</th>
        <th scope="col">ФИО Режиссера</th>
        <th scope="col">Имя ПТС</th>
        <th scope="col">Конфигурация ПТС</th>
        <th scope="col">Место работы</th>
      </tr>
    </thead>
    {% for request in ptsrequest_list %}
      <tbody>
        <tr>
          <th scope="row">
            <a href="{% url 'pts_requests:request_detail' request.pk %}">
              {{request.pk}}
            </a>
          </th>
          <td>{{ request.broadcast_start_date|date:'d E Y' }}</td>
          <td>{{ request.broadcast_start_date|date:'h:m' }} - {{ request.broadcast_end_date|date:'h:m' }}</td>
          <td>{{ request.name }}</td>
          <td>Статус</td>
          <td>{{ request.author.get_full_name }}</td>
          <td>{{ request.get_pts }}</td>
          <td>{{ request.pts_cfg.name }}</td>
          <td>{{ request.place.name }}</td>
        </tr>
      </tbody>
      {% comment %} {% if not forloop.last %}
      <hr />
      {% endif %} {% endcomment %} 
    {% endfor %}
  </table>
</div>
{% endblock %}
