{% extends 'base.html' %}
{% block title %}<title></title>{% endblock %}
{% block content %}

<div class="card">
  <div class="card-body">
    <div class="card">
        <h5 class="card-header">{{ ptsrequest.broadcast_start_date|date:'d E Y' }} </h5>
        <h4 class="card-title">{{ ptsrequest.name }} </h4>
        <h5 class="card-title">Статус заявки - {{ ptsrequest.get_status_display }} </h5>
        <h7 class="card-title">{{ ptsrequest.author.get_full_name }}, {{ptsrequest.author.position}}, {{ptsrequest.author.direction}}</h7>
    </div> 
    <div class="card w-75 mb-3">
      <h5 class="card-header">{{ ptsrequest.place.name  }}</h5>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Город</th>
                <th scope="col">Адрес</th>
                <th scope="col">ФИО ответственного за объект</th>
                <th scope="col">Телефон ответственного</th>
                <th scope="col">Вебсайт</th>
                <th scope="col">Детали</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td>{{ ptsrequest.place.city_name  }}</td>
                <td>{{ ptsrequest.place.address  }}</td>
                <td>{{ ptsrequest.place.contact_name  }}</td>
                <td>{{ ptsrequest.place.phone  }}</td>
                <td>Вебсайт</td>
                <td><a href="{% url 'place:place_detail' ptsrequest.place.pk %}" target="_blank" rel="noopener noreferrer">
                  Детальная информация по объекту
                </a> 
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="card w-75 mb-3">
      <h5 class="card-header">Временные рамки трансляции</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Тип передачи</th>
            <th scope="col">Время начала</th>
            <th scope="col">Время окончания</th>
            <th scope="col">Детали</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td>{{ ptsrequest.type  }}</td>
            <td>{{ ptsrequest.broadcast_start_date|date:'H:i'  }}</td>
            <td>{{ ptsrequest.broadcast_end_date|date:'H:i'  }}</td>
            <td>Details</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  
    <div class="card-body">
      <div class="collapse" id="ptscollapse">
        <div class="card-header">
                <h3>Название Конфигурации: {{ ptsrequest.pts_cfg.name }}</h3>
                <h6>Дата создания конфигурации: {{ ptsrequest.pts_cfg.create_date }}</h6>
        </div>
        <div class="card-body">
              <h6>Камерный план: НОВОЕ ПОЛЕ БАЗЫ</h6>
        </div>
        <div class="card-header">
                <h6>Камеры для трансляции</h6>
        </div>
        <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Тип камеры </th>
                      <th scope="col">Бренд и Модель</th>
                      <th scope="col">Количество</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for camera in ptsrequest.pts_cfg.cameraptsconstructor_set.all %}
                    <tr>
                      <th scope="row">№</th>
                      <td> {{ camera.cameras.name }}</td>
                      <td> {{ camera.brend }} - {{ camera.model }}</td>
                      <td> {{ camera.quantity }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
        </div>        
        <div class="card-header">
        <h6>Оптика для камер</h6>
        </div>
        <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Кратность оптики </th>
              <th scope="col">Бренд и Модель</th>
              <th scope="col">Количество</th>
            </tr>
          </thead>
          <tbody>
            {% for optic in ptsrequest.pts_cfg.opticptsconstructor_set.all %}
            <tr>
              <th scope="row">№ </th>
              <td> {{ optic.optics.name }}</td>
              <td> {{ optic.brend }} - {{ optic.model }}</td>
              <td> {{ optic.quantity }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <div class="card-header">
        <h6>Набор микрофонов</h6>
        </div>
        <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Тип </th>
              <th scope="col">Бренд и Модель</th>
              <th scope="col">Количество</th>
            </tr>
          </thead>
          <tbody>
            {% for microphone in ptsrequest.pts_cfg.microphoneptsconstructor_set.all %}
            <tr>
              <th scope="row">№ </th>
              <td> {{ microphone.type }}</td>
              <td> {{ microphone.brend }} - {{ microphone.model }}</td>
              <td> {{ microphone.quantity }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>        
        <div class="card-header">
        <h6>Оборудование комментаторской позиции</h6>
        </div>
        <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Монитор для комментатора </th>
              <th scope="col">Комментаторский пульт</th>
              <th scope="col">Количество гарнитур</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <th scope="row">№</th>
              <td> 
                {% if ptsrequest.commentator_monitor == True%}
                ДА
                {% else %}
                НЕТ
                {% endif %}
              </td>
              <td> 
                {% if ptsrequest.commentator_console == True%}
                ДА
                {% else %}
                НЕТ
                {% endif %}
              </td>
              <td> {{ ptsrequest.commentator_headset }}</td>
            </tr>
            
          </tbody>
        </table>
        </div>        
        <div class="card-header">
        <h6>Графическое обеспечение</h6>
        </div>
        <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Бренд  </th>
              <th scope="col">Прогамное обеспечение</th>
              <th scope="col">Лицензии или ключи</th>
              <th scope="col">Количество станций</th>
              <th scope="col">Подключение к судейской системе</th>
            </tr>
          </thead>
          <tbody>
            {% for gfx in ptsrequest.pts_cfg.gfxptsconstructor_set.all %}
            <tr>
              <th scope="row">№ </th>
              <td> {{ gfx.gfx.name }}</td>
              <td> {{ gfx.model }}</td>
              <td> {{ gfx.license_type }}</td>
              <td> {{ gfx.quantity }}</td>
              <td> 
                {% if gfx.judicial_system == True%}
                ДА
                {% else %}
                НЕТ
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>     
        <div class="card-body">
        {% if user == ptsrequest.pts_cfg.author or user.is_admin %}
            <a class="btn btn-primary" href="{% url 'config:config_edit' ptsrequest.pts_cfg.pk %}">
              Изменить конфигурацию 
            </a> 
        {% endif %}
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#ptscollapse" aria-expanded="false" aria-controls="ptscollapse">
            Скрыть конфигурацию ПТС 
          </button>
        </div>
            {% comment %} </div> {% endcomment %}
      </div>      
    <div class="card-body">
      <div class="collapse" id="linecollapse">
        <div class="card">
            <h5 class="card-title">Заказы видеоканалов</h5>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Номер канала </th>
                      <th scope="col">Дата и время начала оказания услуг </th>
                      <th scope="col">Дата и время завершения оказания услуг </th>
                      <th scope="col">Направление подачи ТВ канала </th>
                      <th scope="col">Количество каналов</th>
          
                    </tr>
                  </thead>
                  <tbody>
                    {% for commline in ptsrequest.commlineconstructor_set.all %}
                      <tr>
                        <th scope="row">Номер (1-2-3) в зависимости сколько строк в базе</th>
                        <td>Дата время окончания  с БД</td>
                        <td>Дата время окончания  с БД</td>
                        <td>От объекта до ЦА (ЦА тоже в базе как объект в минске) {{ commline.str_directions}} </td>
                        <td>{{ commline.quantity}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
        </div>
        <div class="card">
            <h5 class="card-title">Услуги Интернет</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Дата и время начала оказания услуг </th>
                  <th scope="col">Дата и время завершения оказания услуг </th>
                  <th scope="col">Место установки точки доступа в Интернет </th>
                  <th scope="col">Количество точек</th>
                  <th scope="col">Скорость доступа</th>
                </tr>
              </thead>
              <tbody>
                
                  <tr>
                    <th scope="row">ДАТА И ВРЕМЯ НАЧАЛА С БАЗЫ ДАННЫХ</th>
                    <td>ДАТА И ВРЕМЯ Окончания С БАЗЫ ДАННЫХ</td>
                    <td>ПТС</td>
                    <td>1</td>
                    <td>ВЫБОР С БД 20/20 - 80/40 - 200/200 Мбит/c</td>
                  </tr>
                
              </tbody>
            </table>
        </div>
        <div class="card">
                  <h5 class="card-title">Организация служебной связи</h5>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Номер линии </th>
                        <th scope="col">Дата и время начала оказания услуг </th>
                        <th scope="col">Дата и время окончания оказания услуг </th>
                        <th scope="col">Тип связи </th>
                        <th scope="col">Связь с кем</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for techcommline in ptsrequest.techcommlineconstructor_set.all %}
                        <tr>
                          <th scope="row">#Номер линии из базы данных</th>
                          <td>Дата и время начала оказания услуг из БД</td>
                          <td>Дата и время начала оказания услуг из БД</td>
                          <td>
                            {% if techcommline.vpn == True %}
                            VPN 
                            {% else %}
                                {% if techcommline.four_wire_comm == True %}
                                  Четырехпроводка
                                {% else %}
                                  Нет связи
                                {% endif %}
                            {% endif %}
                          </td>
                          <td>ИЗ БАЗЫ - C эфирной аппартной "Беларусь5"</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
        </div>
      </div>
    </div>    
  </div>
  <div class="card w-75 mb-3">
    <div class="card-body">
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#ptscollapse" aria-expanded="false" aria-controls="ptscollapse">
      Конфигурация ПТС {{ ptsrequest.get_pts }}
      </button>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#linecollapse" aria-expanded="false" aria-controls="linecollapse">
      Линии Связи
      </button>
    </div>
  </div>
  </div>  
</div>

<div class="card w-75 mb-3">
  <div class="card-body">
        <form class="row g-3" method="post" enctype="multipart/form-data">
          {% csrf_token %}
       
          <div class="col-md-6">
            <label for="{{ form.trakt_start_date.id_for_label }}" class="form-label">Дата и время начала тракта </label>
            <input type="text" name ="trakt_start_date" class="form-control" placeholder="Выберите дату и время" id="{{ form.trakt_start_date.id_for_label }}">
          </div>
          <div class="col-md-6">
            <label for="{{ form.trakt_end_date.id_for_label }}" class="form-label">Дата и время окончания тракта</label>
            <input type="text" name ="trakt_end_date" class="form-control" placeholder="Выберите дату и время" id="{{ form.trakt_end_date.id_for_label }}">
            
          </div>
          <div class="col-md-6">
            <label for="{{ form.start_date.id_for_label }}" class="form-label">Дата и время выезда ПТС </label>
            <input type="text" name ="start_date" class="form-control" placeholder="Выберите дату и время" id="{{ form.start_date.id_for_label }}">
          </div>
          <div class="col-md-6">
            <label for="{{ form.end_date.id_for_label }}" class="form-label">Дата и время отъезда ПТС</label>
            <input type="text" name ="end_date" class="form-control" placeholder="Выберите дату и время" id="{{ form.end_date.id_for_label }}">
            
          </div>
          <div class="col-md-4">
            <label for="{{form.pts_name.id_for_label}}" class="form-label">Название ПТС</label>
            <select name="pts_name" id="{{form.pts_name.id_for_label}}" class="form-select">
              <option selected>Выбор ПТС</option>
              {% for field in form.pts_name %}
              {{field}}
              {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <label for="{{ form.status.id_for_label }}" class="form-label">Изменить статус заявки</label>
            <select name="status" id="{{form.status.id_for_label}}" class="form-select">
              <option selected>Изменить статус Заявки</option>
              {% for field in form.status %}
              {{field}}
              {% endfor %}
            </select>
          </div>
          <div class="input-group">
            <span class="input-group-text">Примечание</span>
            <textarea name="comment" class="form-control" placeholder="Введите комментарий если необходимо" aria-label="With textarea"></textarea>
          </div>
                  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Внести изменения в заявку</button>
          </div>
        </form>
  </div>
</div>


<script>
  $(document).ready(function() 
  {
     $('#id_start_date').datetimepicker
     ({
        format:'Y-m-d H:i',
        step: 5
     });
     $('#id_end_date').datetimepicker
     ({
          format:'Y-m-d H:i',
          step: 5
     });
     $('#id_trakt_start_date').datetimepicker
     ({
          format:'Y-m-d H:i',
          step: 5
     });
     $('#id_trakt_end_date').datetimepicker
     ({
          format:'Y-m-d H:i',
          step: 5
     });
  });
</script>
{% endblock %} 