{% extends 'base.html' %}
{% block title %}<title></title>{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <li>
      Customer: {{ ptsrequest.author.get_full_name }}, {{ptsrequest.author.direction}}, {{ptsrequest.author.position}}
    </li>
    <li>
      Broadcast date: {{ ptsrequest.broadcast_start_date|date:'d E Y' }}
    </li>
    <li>
      <a href="{% url 'place:place_detail' ptsrequest.place.pk %}">Broadcast place</a>: {{ ptsrequest.place.name  }}. {{ ptsrequest.place.city  }}, {{ ptsrequest.place.address  }}
    </li>
    <li>
      Responsible person at the facility: {{ ptsrequest.place.contact_name  }}. Phone: {{ ptsrequest.place.phone  }}
    </li>
    <li>
      Type of work: {{ ptsrequest.type }}
    </li>
    <li>
      <a href="{% url 'config:config_detail' ptsrequest.pts_cfg.pk %}">PTS Configurations</a>: {{  ptsrequest.pts_cfg }}
    </li>
    <li>
      {% for commline in ptsrequest.commlineconstructor_set.all %}
        <p>
            {{ commline.str_directions}}
        </p>
      {% endfor %}
    </li>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
<script>
  $(document).ready(function() 
  {
     $('#id_start_date').datetimepicker
     ({
        format:'Y-m-d H:i',
        step: 5
     });
     $('#id_end_date').datetimepicker
     ({
          format:'Y-m-d H:i',
          step: 5
     });
  });
</script>
{% endblock %} 