<section class="intro">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card shadow-sm mb-3">
              <div class="card-body p-0 ms-2 me-2 mb-2">
                  <p class="fs-4 ms-2 me-2" style="border-bottom: 1px solid black;">Интернет каналы</p>

                  {% if ptsrequest.internetlineconstructor_set.all|length > 0 %}
                  <table class="table table-striped mb-0 ps-2 pe-2 ">
                    <thead style="background-color: lightskyblue;">
                      <tr class="d-flex">
                        <th class="col-3">Дата и время начала оказания услуг</th>
                        <th class="col-3">Дата и время завершения оказания услуг</th>
                        <th class="col-2">Количество точек</th>
                        <th class="col-2">Скорость доступа</th>
                        <th class="col-2">Телефон</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for line in ptsrequest.internetlineconstructor_set.all %}
                        <tr class="d-flex">
                          <td class="col-3">{{ line.start }}</td>
                          <td class="col-3">{{ line.end }}</td>
                          <td class="col-2">{{ line.quantity }}</td>
                          <td class="col-2">{{ line.get_speed_display }}</td>
                          <td class="col-2">{% if line.phone %}Да{% else %}Нет{% endif %}</td>
                        </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                  {% else %}
                    <p class="fs-5 ms-2 me-2">Информация отсутсвует в заявке</p>
                  {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>