{% extends 'base.html' %}
{% block title %}<title></title>{% endblock %}
{% block content %}   
  <style>
    .button_add {
      margin-bottom: 10px;
    }
    .commline-form {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
    .techcommline-form {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
    .hidden {
      display: none
    }
  </style>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
           {% comment %} <div class="card-header">   
            {% if is_edit %}
              Редактировать запись
            {% else %}
              Новый пост
            {% endif %}                 
          </div> {% endcomment %}
          <div class="card-body">        
            <form method="post" enctype="multipart/form-data">
              {% load user_filters %}
              {% csrf_token %}
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}            
                    <div class="alert alert-danger">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endif %}
              {% for field in form %}
                <div class="form-group row my-3 p-3">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}
                      <span class="required text-danger">*</span>
                    {% endif %}
                  </label>    
                  {{ field }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              {% endfor %}
              
              {% include 'includes/form.html' with form=commline style='commline' descr='Communication lines:' hiddenid='comm-id'%}
              {% include 'includes/form.html' with form=techcommline style='techcommline' descr='Communication tech lines:' hiddenid='tech-comm-id'%}

              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Create
                  {% comment %} {% if is_edit %}
                    Сохранить
                  {% else %}
                    Добавить
                  {% endif %}   {% endcomment %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() 
    {
       $('#id_broadcast_start_date').datetimepicker
       ({
          format:'Y-m-d H:i',
          step: 5,
          
       });
       $('#id_broadcast_end_date').datetimepicker
       ({
            format:'Y-m-d H:i',
            step: 5,
            
       });
    });
            const addMoreCommLineBtn = document.getElementById('add-more-commline')
    const removeCommLineBtn = document.getElementById('remove-commline')
    const InitialCommlineFormCount = document.getElementsByClassName('commline-form').length

    addMoreCommLineBtn.addEventListener('click', e => add_new_form(
      'commline-form-list',
      'comm-id', 
      'commline-form',
      'id_commlineconstructor_set-TOTAL_FORMS',
      removeCommLineBtn,
      e))
    removeCommLineBtn.addEventListener('click', e => remove_form(
      'commline-form-list',
      'commline-form',
      'id_commlineconstructor_set-TOTAL_FORMS',
      InitialCommlineFormCount,
      removeCommLineBtn,
      e
    ))
    const addMoreTechLineBtn = document.getElementById('add-more-techcommline')
    const removeTechLineBtn = document.getElementById('remove-techcommline')
    const InitialTechFormCount = document.getElementsByClassName('techcommline-form').length

    var currentTechFormCount = 0

    addMoreTechLineBtn.addEventListener('click', e => add_new_form(
      'techcommline-form-list',
      'tech-comm-id', 
      'techcommline-form',
      'id_techcommlineconstructor_set-TOTAL_FORMS',
      removeTechLineBtn,
      e))
    removeTechLineBtn.addEventListener('click',  e => remove_form(
      'techcommline-form-list',
      'techcommline-form',
      'id_techcommlineconstructor_set-TOTAL_FORMS',
      InitialTechFormCount,
      removeTechLineBtn,
      e
    ))
  </script>
   {% endblock %} 