{% extends 'base.html' %}
{% block title %}<title></title>{% endblock %}
{% block content %}   
  <style>
    .button_add {
      margin-bottom: 10px;
    }
    .camera-form {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
    .optic-form {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
    .server-form {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
    .micro-form {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
    .gfx-form {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
    .hidden {
      display: none
    }
  </style>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          {% comment %} <div class="card-header">   
            {% if is_edit %}
              Редактировать запись
            {% else %}
              Новый пост
            {% endif %}                 
          </div> {% endcomment %}
          <div class="card-body">        
            <form method="post" enctype="multipart/form-data" data-micro-url="{% url 'config:ajax_load_micro_model' %}" data-cam-url="{% url 'config:ajax_load_cam_model' %}" data-opt-url="{% url 'config:ajax_load_optic_model' %}" data-server-url="{% url 'config:ajax_load_server_model' %}" id="cfgForm">
              {% load user_filters %}
              {% csrf_token %}
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}            
                    <div class="alert alert-danger">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endif %}
              {% for field in form %}
                <div class="form-group row my-3 p-3">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}
                      <span class="required text-danger">*</span>
                    {% endif %}
                  </label>    
                  {{ field }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              {% endfor %}

              {% include 'includes/form.html' with form=camera style='camera' descr='Cameras:' hiddenid='camera-id'%}
              {% include 'includes/form.html' with form=optic style='optic' descr='Optics:' hiddenid='optic-id'%}
              {% include 'includes/form.html' with form=server style='server' descr='Servers:' hiddenid='server-id'%}
              {% include 'includes/form.html' with form=micro style='micro' descr='Microphone:' hiddenid='micro-id'%}
              {% include 'includes/form.html' with form=gfx style='gfx' descr='GFX:' hiddenid='gfx-id'%} 

              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Create:
                  {% comment %} {% if is_edit %}
                    Сохранить
                  {% else %}
                    Добавить
                  {% endif %}   {% endcomment %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    const addMoreCameraLineBtn = document.getElementById('add-more-camera')
    const removeCameraLineBtn = document.getElementById('remove-camera')
    const InitialCameralineFormCount = document.getElementsByClassName('camera-form').length

    addMoreCameraLineBtn.addEventListener('click', e => add_new_form(
      'camera-form-list',
      'camera-id', 
      'camera-form',
      'id_cameraptsconstructor_set-TOTAL_FORMS',
      'id_cameraptsconstructor_set',
      'data-cam-url',
      removeCameraLineBtn,
      e))
    removeCameraLineBtn.addEventListener('click', e => remove_form(
      'camera-form-list',
      'camera-form',
      'id_cameraptsconstructor_set-TOTAL_FORMS',
      InitialCameralineFormCount,
      removeCameraLineBtn,
      e
    ))

    const addMoreOpticLineBtn = document.getElementById('add-more-optic')
    const removeOpticLineBtn = document.getElementById('remove-optic')
    const InitialOpticlineFormCount = document.getElementsByClassName('optic-form').length

    addMoreOpticLineBtn.addEventListener('click', e => add_new_form(
      'optic-form-list',
      'optic-id', 
      'optic-form',
      'id_opticptsconstructor_set-TOTAL_FORMS',
      'id_opticptsconstructor_set',
      'data-opt-url',
      removeOpticLineBtn,
      e))
    removeOpticLineBtn.addEventListener('click', e => remove_form(
      'optic-form-list',
      'optic-form',
      'id_opticptsconstructor_set-TOTAL_FORMS',
      InitialOpticlineFormCount,
      removeOpticLineBtn,
      e
    ))

    const addMoreServerLineBtn = document.getElementById('add-more-server')
    const removeServerLineBtn = document.getElementById('remove-server')
    const InitialServerlineFormCount = document.getElementsByClassName('server-form').length

    addMoreServerLineBtn.addEventListener('click', e => add_new_form(
      'server-form-list',
      'server-id', 
      'server-form',
      'id_serverrecordingrepeatconstructor_set-TOTAL_FORMS',
      'id_serverrecordingrepeatconstructor_set',
      'data-server-url',
      removeServerLineBtn,
      e))
    removeServerLineBtn.addEventListener('click', e => remove_form(
      'server-form-list',
      'server-form',
      'id_serverrecordingrepeatconstructor_set-TOTAL_FORMS',
      InitialServerlineFormCount,
      removeServerLineBtn,
      e
    ))

    const addMoreMicroLineBtn = document.getElementById('add-more-micro')
    const removeMicroLineBtn = document.getElementById('remove-micro')
    const InitialMicrolineFormCount = document.getElementsByClassName('micro-form').length

    addMoreMicroLineBtn.addEventListener('click', e => add_new_form(
      'micro-form-list',
      'micro-id', 
      'micro-form',
      'id_microphoneptsconstructor_set-TOTAL_FORMS',
      'id_microphoneptsconstructor_set',
      'data-micro-url',
      removeMicroLineBtn,
      e))
    removeMicroLineBtn.addEventListener('click', e => remove_form(
      'micro-form-list',
      'micro-form',
      'id_microphoneptsconstructor_set-TOTAL_FORMS',
      InitialMicrolineFormCount,
      removeMicroLineBtn,
      e
    ))

    const addMoreGfxBtn = document.getElementById('add-more-gfx')
    const removeGfxBtn = document.getElementById('remove-gfx')
    const InitialGfxFormCount = document.getElementsByClassName('gfx-form').length

    addMoreGfxBtn.addEventListener('click', e => add_new_form(
      'gfx-form-list',
      'gfx-id', 
      'gfx-form',
      'id_gfxptsconstructor_set-TOTAL_FORMS',
      'id_gfxptsconstructor_set',
      '',
      removeGfxBtn,
      e))
    removeGfxBtn.addEventListener('click', e => remove_form(
      'gfx-form-list',
      'gfx-form',
      'id_gfxptsconstructor_set-TOTAL_FORMS',
      InitialGfxFormCount,
      removeGfxBtn,
      e
    ))

  </script>

{% endblock %} 
