<style>
  .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
  }
</style>

{% for conf in ptsconstructor_list %}
  {% if conf.base_conf %}
    <h3>Базовая конфигурации ПТС</h3>
    <hr class="mb-1" style="border: 1px;">
    <div class="accordion accordion-flush" id="accordionFlush">

      <div id="place_{{ conf.pk }}" class="accordion-item">
        <h2 class="accordion-header" id="flush-heading{{ forloop.counter }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
            <h5 class="p-0 m-0">{{ conf.name }}</h5>
          </button>
        </h2>
        <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ forloop.counter }}" data-bs-parent="#accordionFlush">
          <div class="accordion-body ps-0 pe-0">
            {% include "includes/config_detail_short.html" with ptsconstructor=conf %}
            <div class="row pe-3">
              <div class="col d-flex justify-content-end pe-0">
                {% if user.is_main_director_or_admin %}
                    <a type="button" id="create-change-cfg" class="btn btn-primary me-3" href="{% url 'config:config_edit' conf.pk %}">Изменить базовую кофигурацию</a> 
                {% endif %}
                <a type="button" id="create-change-cfg" class="btn btn-primary" href="{% url 'config:config_create_onbase' conf.pk %}">Создать конфигурацию на основе базовой</a>
              </div>

              {% if user.is_admin or request.user == conf.author %}
                <div class="col-md-auto d-flex justify-content-end pe-0">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#baseDeletionModal">
                    Удалить
                  </button>
                  <div class="modal fade" id="baseDeletionModal" tabindex="-1" aria-labelledby="baseDeletionModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="baseDeletionModalLabel">Удалить конфигурацию</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <b>Вы точно хотите удалить конфигурацию {{ conf.name }}</b>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                          <form action="{% url 'config:config_remove' conf.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" id="deleteBtn" class="btn btn-primary">Да</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>

    </div>

    {% if not forloop.last %}
      <h3 class="pt-2">Мои конфигурации ПТС</h3>
      <hr class="mb-1" style="border: 1px;">
      <div class="accordion accordion-flush" id="myaccordionFlush">
    {% endif %}
  {% else %}
        <div id="place_{{ conf.pk }}" class="accordion-item">
          <h2 class="accordion-header" id="flush-heading{{ forloop.counter }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
              <h5 class="p-0 m-0">{{ conf.name }}</h5>
            </button>
          </h2>
          <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ forloop.counter }}" data-bs-parent="#myaccordionFlush">
            <div class="accordion-body ps-0 pe-0">
              {% include "includes/config_detail_short.html" with ptsconstructor=conf %}
              <div class="row ms-1 align-items-center pe-3">
                <div class="col d-flex justify-content-end pe-0">
                  <a type="button" id="create-change-cfg" class="btn btn-primary" href="{% url 'config:config_edit' conf.pk %}">Изменить кофигурацию</a>
                </div>
                <div class="col-md-auto d-flex justify-content-end pe-0">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#onBaseDeletionModal{{ conf.pk }}">
                    Удалить
                  </button>
                  <div class="modal fade" id="onBaseDeletionModal{{ conf.pk }}" tabindex="-1" aria-labelledby="onBaseDeletionModalLabel{{ conf.pk }}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="onBaseDeletionModalLabel{{ conf.pk }}">Удалить конфигурацию</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <b>Вы точно хотите удалить конфигурацию {{ conf.name }}</b>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                          <form action="{% url 'config:config_remove' conf.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" id="deleteBtn" class="btn btn-primary">Да</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  {% endif %}
{% endfor %}
      </div>
{% if not ptsconstructor_list and user.is_main_director_or_admin and event_type_id %}
    <div id="add-cfg-button" class="col d-flex justify-content-end">
      <a type="button" id="create-change-cfg" class="btn btn-primary" href="{% url 'config:config_create' %}?place={{place_id}}&event={{event_type_id}}">Добавить базовую кофигурацию</a>
    </div>
{% endif %}

<script>

  $(document).ready(function() {
    $("a#create-change-cfg").on("click", function(e) {
      e.preventDefault();
      var url = $(this).attr("href");
      var $overlay = $("#loading-overlay");
      $overlay.show();
      window.location.href = url;
    });

  });

  $("button#deleteBtn").on('click',function(event){
        var button = $(this);
        button.prop("disabled", true);
        button.html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Удаление...');
        button.closest('form').submit();
    });

  
</script>